<h1>List of Restaurants</h1>
<p>This web app is a list of great restaurants</p>

<form action="/restaurants" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name">
  <label for="city">City:</label>
  <input type="text" name="city" id="city">
  <input type="submit">
</form>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li><a href="restaurants/<%= restaurant.id %>"><%= restaurant.name %></a></li>
  <% end %>
</ul>